{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Registrar Producto</title>
<link rel="stylesheet" href="{% static 'css/producto_nuevo.css' %}">
</head>

<body>

<div class="container">

<header class="header">

<h1> Registrar Nuevo Producto</h1>

<a href="{% url 'panel_admin' %}" class="btn-volver">
⬅ Volver al Panel
</a>

</header>

<div class="form-card">

<form method="POST" action="{% url 'producto_nuevo' %}" enctype="multipart/form-data">

{% csrf_token %}

<div class="campo">

<label>Nombre del Producto</label> <input type="text" name="nombre" placeholder="Ej: Guayos Nike" required>

</div>

<div class="campo">

<label>Precio</label> <input type="number" name="precio" placeholder="Ej: 120000" required>

</div>

<div class="campo">

<label>Stock</label> <input type="number" name="stock" placeholder="Cantidad disponible" required>

</div>

<div class="campo">

<label>Descripción</label>

<textarea name="descripcion" placeholder="Descripción del producto"></textarea>

</div>

<div class="campo">

<label>Categoría</label>

<select name="categoria">

<option value="">Seleccionar</option>
<option value="ropa">Ropa</option>
<option value="calzado">Calzado</option>
<option value="accesorios">Accesorios</option>

</select>

</div>

<div class="campo">

    <label>Imagen</label>
    <input type="file" name="imagen" accept="image/*">

</div>

<button type="submit" class="btn-guardar">
Guardar Producto
</button>

</form>

</div>

</div>

</body>

</html>
