{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - Deportes 360</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/Logo.png' %}" />
    <link rel="stylesheet" href="{% static 'css/productos.css' %}">
</head>

<body>

<header class="header">
    <div class="container menu">

        <a href="#" class="logo">DEPORTES 360</a>

        <nav class="navbar">
            <ul>
                <li><a href="{% url 'panel_admin' %}">Volver</a></li>
                <li><a href="{% url 'producto_nuevo' %}">Agregar Producto</a></li>
            </ul>
        </nav>

    </div>
</header>

<main class="Prodcts container" id="productos">
    <h2>Productos</h2>

    <div class="Prodcts-content">

        {% for producto in productos %}

        <div class="Prodcts-1">
            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}"/>

            <h4>{{ producto.nombre }}</h4>
                <p>Precio: ${{ producto.precio }}</p>
                <p>Stock disponible: {{ producto.stock_total }}</p>
                <p>Categoría: {{ producto.get_categoria_display }}</p>
                <p>{{ producto.descripcion }}</p>

                <a href="{% url 'producto_editar' producto.id %}" class="btn">Editar</a>
                <a href="{% url 'producto_eliminar' producto.id %}" class="btn btn-danger">Eliminar</a>
        </div>
        {% empty %}
            <p>No hay productos registrados</p>
        {% endfor %}

    </div>
</main>

<footer class="footer">
    <div class="container footer-content">

        <a href="#" class="logo">DEPORTES 360</a>

        <ul>
            <li><a href="{% url 'pedidos_disponibles' %}">Pedidos</a></li>
        </ul>

    </div>
</footer>

</body>
</html>