{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Producto</title>
    <link rel="stylesheet" href="{% static 'css/editar_producto.css' %}">
</head>
<body>

<div class="container">

<h2>Editar Producto</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="text" name="nombre" value="{{ producto.nombre }}">

    <input type="number" name="precio" value="{{ producto.precio }}">

    <textarea name="descripcion">{{ producto.descripcion }}</textarea>

    <input type="number" name="stock" value="{{ producto.stock }}">

    <img src="{{ producto.imagen.url }}" width="100">

    <input type="file" name="imagen">

    <button type="submit">Actualizar</button>
</form>

</div>

</body>
</html>