{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Compras - Deportes 360</title>
    <link rel="stylesheet" href="{% static 'css/mis_compras.css' %}">
</head>
<body>
    <div class="compras-container">
        <h1 class="titulo-compras">Mis Compras</h1>
         <a href="{% url 'usuario' %}" class="btn-volver">
         Volver
        </a>
        {% if compras %}
            <div class="compras-grid">

                {% for compra in compras %}
                    <div class="compra-card">
                        
                        <div class="compra-info">
                            <p><strong>ID:</strong> {{ compra.id }}</p>
                            <p><strong>Total:</strong> ${{ compra.totalVenta }}</p>
                        </div>

                        <div class="compra-footer">
                            <a href="{% url 'factura1' compra.id %}" class="btn-ver">
                                Ver factura
                            </a>
                        </div>

                    </div>
                {% endfor %}

            </div>
        {% else %}
            <p class="sin-compras">No tienes compras registradas todavía.</p>
        {% endif %}
    </div>

</body>
</html>