/* FONDO */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
    background: linear-gradient(135deg, #f8f9fa, #f9f9fa, #f4f5f6);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTENEDOR */
.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* TARJETA */
.card {
    width: 380px;
    padding: 40px;
    border-radius: 20px;
    background: rgba(255,255,255,0.95);
    backdrop-filter: blur(12px);
    text-align: center;
    box-shadow: 0 20px 50px rgba(0,0,0,0.3);
    animation: fadeIn 0.7s ease;
}

/* LOGO */
.logo {
    width: 60px;
    margin-bottom: 10px;
}

/* TITULO */
h2 {
    margin: 10px 0;
    color: #0f172a;
}

.subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

/* INPUTS FLOAT */
.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 12px;
    color: #888;
    font-size: 13px;
    transform: translateY(-50%);
    transition: 0.3s;
    pointer-events: none;
    background: white;
    padding: 0 5px;
}

/* EFECTO FLOAT */
.input-group input:focus + label,
.input-group input:valid + label {
    top: -8px;
    font-size: 11px;
    color: #3b82f6;
}

/* BOTON */
button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(135deg, #3b82f6, #1d4ed8);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(59,130,246,0.4);
}

/* ALERTAS */
.alert {
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 13px;
}

.alert.error {
    background: #fee2e2;
    color: #b91c1c;
}

.alert.success {
    background: #dcfce7;
    color: #166534;
}

/* LINK */
.back {
    display: block;
    margin-top: 15px;
    font-size: 13px;
    color: #3b82f6;
    text-decoration: none;
}

.back:hover {
    text-decoration: underline;
}

/* ANIMACION */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}