body{

margin:0;
padding:0;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

background:url("../images/Fondo3.png") no-repeat center center fixed;
background-size:cover;

display:flex;
justify-content:center;
align-items:center;

height:100vh;

}

.perfil-container{

width:100%;
display:flex;
justify-content:center;

}

.perfil-card{

background:rgba(255,255,255,0.95);

padding:35px;
border-radius:15px;

width:350px;

text-align:center;

box-shadow:0 8px 20px rgba(0,0,0,0.25);

backdrop-filter:blur(5px);

}

.perfil-img{

width:90px;
margin-bottom:15px;

}

.perfil-card h2{

margin-bottom:20px;
color:#222;

}

.perfil-info{

text-align:left;
margin-bottom:20px;

}

.perfil-info p{

margin:8px 0;
font-size:15px;

}

.btn-editar{

display:inline-block;

background:#a74a4a;
color:white;

padding:10px 20px;

border-radius:8px;

text-decoration:none;
font-weight:bold;

transition:0.3s;

}

.btn-editar:hover{

background:#bf0f0f;

}
.btn-volver{

display:inline-block;

margin-top:10px;

background:#555;

color:white;

padding:10px 20px;

border-radius:8px;

text-decoration:none;

font-weight:bold;

transition:0.3s;

}

.btn-volver:hover{

background:#333;

}