{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administrador - Deportes 360</title>

    <link rel="icon" type="image/x-icon" href="{% static 'images/admin.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<header class="header">
    <h1>Panel de Administrador - Deportes 360</h1>
</header>

<nav class="sidebar">
    <br><br>
   <ul>
    <li><a href="{% url 'panel_admin' %}">Inicio</a></li>
    <li><a href="{% url 'productos' %}">Productos</a></li>
    <li><a href="{% url 'reportesVentas' %}">Reportes</a></li>
    <li><a href="{% url 'movimientos' %}">Movimientos</a></li>
    <li><a href="{% url 'producto_nuevo' %}">Nuevo Producto</a></li>
    <li><a href="{% url 'panel_sugerencias' %}">Sugerencias</a></li>
    <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
   </ul>
</nav>

<main class="dashboard">
    <br><br>

    <!-- ÚLTIMOS PEDIDOS -->
    <section class="pedidos">
        <h2>Últimos Pedidos</h2>
        <table class="tabla-pedidos">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Cliente</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% if ultimos_pedidos %}
                    {% for pedido in ultimos_pedidos %}
                    <tr>
                        <td>{{ pedido.id }}</td>
                        <td>{{ pedido.venta.cliente.usuario.username }}</td>
                        <td>{{ pedido.venta.direccionEnvio }}</td>
                        <td>{{ pedido.venta.telefonoContacto }}</td>
                        <td>{{ pedido.fecha_pedido|date:"d/m/Y"}}</td>
                        <td>$ {{ pedido.venta.totalVenta }}</td>
                        <td>
                            {% if pedido.estado == 'Disponible' %}
                                <span Style="background:#e3f2fd; color:#1565c0; padding:4px 10px; border-radius:20px; font-size:13px; font-weight:bold;"> Disponible</span>
                            {% elif pedido.estado == 'En camino' %}
                                <span Style="background:#fff8e1; color:#f57f17; padding:4px 10px; border-radius:20px; font-size:13px; font-weight:bold;"> En camino</span>
                            {% elif pedido.estado == 'Entregado' %}
                                <span Style="background:#e8f5e9; color:#2e7d32; padding:4px 10px; border-radius:20px; font-size:13px; font-weight:bold;"> Completado</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7" style="text-align:center;">No hay pedidos recientes</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </section>

<section class="usuarios">

    <h2>Gestión de Usuarios</h2>

    <table class="tabla-usuarios">

        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Rol</th>
                <th>Acción</th>
            </tr>
        </thead>

        <tbody>

            {% for u in usuarios %}
            <tr>

                <td>#{{ u.id }}</td>

               <td class="usuario-nombre">
                   {{ u.first_name }}
               </td>

                <td>{{ u.email }}</td>

                <td>
                    <span class="badge-rol">
                        {{ u.rol }}
                    </span>
                </td>

                <td>

                    <form method="post" action="{% url 'eliminar_usuario' u.id %}">
                        {% csrf_token %}

                        <button class="btn-eliminar"
                         onclick="return confirm('¿Seguro que deseas eliminar este usuario?');">

                         Eliminar

                        </button>

                    </form>

                </td>

            </tr>
            {% endfor %}

        </tbody>

    </table>

</section>

<section class="productos">

    <h2>Gestión de Productos</h2>

    <div class="form-card">

    <form method="POST">

    <table class="tabla-productos">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Descripción</th>
            <th>Categoría</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>#{{ producto.id }}</td>
            <td>{{ producto.nombre }}</td>
            <td>${{ producto.precio }}</td>
            <td>{{ producto.stock_total }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.categoria }}</td>
            <td>
                <a href="{% url 'producto_editar' producto.id %}"
                   style="color:#1565c0; font-weight:bold; margin-right:10px;">Editar</a>
                <a href="{% url 'producto_eliminar' producto.id %}"
                   style="color:#e53935; font-weight:bold;"
                   onclick="return confirm('¿Seguro que deseas eliminar este producto?');">Eliminar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7" style="text-align:center;">No hay productos en inventario.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</main>
</body>
</html>