{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Registro Administrador</title>
<link rel="stylesheet" href="{% static 'css/crear-admin.css' %}">

</head>

<body>

<div class="login-container">

```
<div class="login-header">
    <h2>Registro de Administrador</h2>
    <img src="{% static 'images/logo-deporte.png' %}" alt="Logo">
</div>

<form class="login-form" method="POST" action="{% url 'crear_admin' %}">

    {% csrf_token %}

    {% if error %}
    <div class="error">
        {{ error }}
    </div>
    {% endif %}

    <label>Nombre</label>
    <input type="text" name="first_name" placeholder="Tu nombre" required>


    <label>Barrio</label>
    <input type="text" name="barrio" placeholder="Tu barrio">


    <label>Usuario</label>
    <input type="text" name="usuario" placeholder="Crea tu usuario" required>

    <label>Correo</label>
    <input type="email" name="correo" placeholder="ejemplo@correo.com" required>

    <label>Teléfono</label>
    <input type="text" name="telefono" placeholder="+57 300 000 0000" required>

    <label>Código administrador</label>
    <input type="text" name="codigo" placeholder="ADM-000" required>

    <label>Contraseña</label>
    <input type="password" name="contrasena" placeholder="Crea una contraseña" required>

    <label>Confirmar contraseña</label>
    <input type="password" name="confirmar" placeholder="Repite la contraseña" required>

    <label>Fecha de nacimiento</label>
    <input type="date" name="fecha_nacimiento">

    <button type="submit">
        Registrarse
    </button>

</form>

<a href="{% url 'menu' %}" class="btn-volver-home">
    ⬅ Volver
</a>
```

</div>

</body>

</html>
