{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - Deportes 360</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon"
          href="{% static 'images/Logo.png' %}" />

    <!-- CSS -->
    <link rel="stylesheet"
          href="{% static 'css/productos.css' %}">
</head>

<body>

<header class="header">
    <div class="container menu">

        <a href="#" class="logo">DEPORTES 360</a>

        <nav class="navbar">
            <ul>
                <li><a href="menu">Volver</a></li>
                <li><a href="pedidos">Pedidos</a></li>
            </ul>
        </nav>

    </div>
</header>

<main class="Prodcts container" id="productos">
    <h2>Productos</h2>

    <div class="Prodcts-content">

        <div class="Prodcts-1">
            <img src="{% static 'images/camiseta.png' %}" alt="Camiseta DryFit Deportiva"/>
            <h4>Camiseta DryFit Deportiva</h4>
            <p>$59.900</p>
        </div>

        <div class="Prodcts-1">
            <img src="{% static 'images/sudadera.png' %}" alt="Sudadera Clásica Unisex"/>
            <h4>Sudadera Clásica Unisex</h4>
            <p>$99.000</p>
        </div>

        <div class="Prodcts-1">
            <img src="{% static 'images/leggings.png' %}" alt="Leggings Deportivos Mujer"/>
            <h4>Leggings Deportivos Mujer</h4>
            <p>$85.000</p>
        </div>

        <div class="Prodcts-1">
            <img src="{% static 'images/chaqueta.png' %}" alt="Chaqueta Rompevientos"/>
            <h4>Chaqueta Rompevientos</h4>
            <p>$135.000</p>
        </div>

        <div class="Prodcts-1">
            <img src="{% static 'images/short.png' %}" alt="Short Deportivo Hombre"/>
            <h4>Short Deportivo Hombre</h4>
            <p>$49.000</p>
        </div>

        <div class="Prodcts-1">
            <img src="{% static 'images/top.png' %}" alt="Top Deportivo Mujer"/>
            <h4>Top Deportivo Mujer</h4>
            <p>$60.000</p>
        </div>
        
        <div class="Prodcts-1">
            <img src="{% static 'images/conjunto-mujer.png' %}" alt="Conjunto Deportivo Mujer"/>
            <h4>Conjunto Deportivo Mujer</h4>
            <p>$149.000</p>
        </div>

        <div class="Prodcts-1">
            <img src="{% static 'images/buzo-hombre.png' %}" alt="Buzo Deportivo Hombre"/>
            <h4>Buzo Deportivo Hombre</h4>
            <p>$110.000</p>
        </div>

    </div>
</main>

<footer class="footer">
    <div class="container footer-content">
        <a href="#" class="logo">DEPORTES 360</a>

        <ul>
            <li><a href="menu">Panel</a></li>
            <li><a href="pedidos">Pedidos</a></li>
        </ul>
    </div>
</footer>

</body>
</html>