{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Restablecer Contraseña</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
</head>
<body>

<div class="contenedor-reset">

    <h3>Ingresa tu correo electrónico:</h3>

    {% if messages %}
        {% for message in messages %}
            <div class="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <label>Correo electrónico:</label>
        <input type="email" name="correo" required>

        <button type="submit">Enviar</button>
    </form>

    <a href="{% url 'login' %}">Volver al login</a>

</div>

</body>
</html>