{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Módulo de Sugerencias</title>
    <link rel="stylesheet" href="{% static 'css/sugerencias.css' %}">
</head>
<body>

    <div class="contenedor-sugerencia">

        <h1>Déjanos tu sugerencia</h1>
        <p>Queremos mejorar. Cuéntanos qué opinas de nuestra página:</p>

        <!-- Mensajes de Django -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <!-- Formulario -->
        <form method="POST">
            {% csrf_token %}
            <textarea name="texto"
                class="textarea"
                placeholder="Escribe tu sugerencia aquí..."
                required></textarea>

            <button type="submit" class="btn-enviar">
                Enviar sugerencia
            </button>
        </form>

        <a href="{% url 'usuario' %}" class="btn-volver-home">
            Volver
        </a>

    </div>
</body>
</html>
